pipeline/Stage via external table.json
{
	"name": "Stage via external table",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "mgmt.usp_GetRawFiles",
						"storedProcedureParameters": {
							"ETLStatus": {
								"type": "Int32",
								"value": "0"
							},
							"MetadataLoaded": {
								"type": "Boolean",
								"value": {
									"value": "@coalesce(true)",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlPool",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@coalesce(null)",
								"type": "Expression"
							},
							"table": {
								"value": "@coalesce(null)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SQL pool stored procedure1",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "synapsedemodw",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "mgmt.usp_GenerateDynamicExternalTable",
								"storedProcedureParameters": {
									"PayloadID": {
										"value": {
											"value": "@item().PayloadID",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawFileID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "SQL pool stored procedure2",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "SQL pool stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "synapsedemodw",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "mgmt.usp_StageFromExternalTable",
								"storedProcedureParameters": {
									"PayloadID": {
										"value": {
											"value": "@item().PayloadID",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawFileID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "SQL pool stored procedure1_copy1",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "SQL pool stored procedure2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "mgmt.usp_LogFileLoaded",
								"storedProcedureParameters": {
									"ID": {
										"value": {
											"value": "@item().ID",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "dlsscdpocfs1"
			},
			"StorageAccount": {
				"type": "string",
				"defaultValue": "dlsscdpoc"
			},
			"Server": {
				"type": "string",
				"defaultValue": "scdpocws1"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-22T13:02:24Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}